[Unit]
Description=Docker Socket for the API
PartOf=docker.service

[Socket]
ListenStream=/var/run/docker.sock
# Pisten on spcefic Port.
#ListenStream=2375
SocketMode=0660
SocketUser=root
SocketGroup=docker
BindIPv6Only=both

[Install]
WantedBy=sockets.target

